@import "../../styles/variables.scss";

th,
td {
  border: 1px solid rgb(204, 204, 204);
  padding: 8px;
}

thead {
  background-color: $color_pink_dark;
  color: $color_pink_light;
  font-size: $font_size_big;
}

.cell:not(.first) {
  width: 20%;
  height: 30px;
}

.list {
  border-collapse: collapse;
  width: 100%;
  background-color: $color_pink_light;
  color: $color_brown;
  font-family: $font_regular;
  font-size: $font_size_regular;
  caption {
    text-align: center;
    font-size: $font_size_biggest;
    padding: 5px;
    font-weight: 700;
  }
  .row {
    .cell {
      &__input {
        box-sizing: border-box;
        width: 100%;
        border-radius: 5px;
        color: $color_brown;
        outline: none;
        padding: 6px;
        font-family: $font_regular;
        font-size: $font_size_regular;
      }
    }
    .buttons {
      width: 8%;
      .button {
        border: none;
        padding: 2%;
        margin: 0 4%;
        width: 2rem;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        &:disabled {
          background-color: grey;
          cursor: not-allowed;
        }
        .buttonImg {
          box-sizing: border-box;
          margin-top: 4px;
          width: 70%;
          pointer-events: none;
        }
      }
    }
  }
}

.error {
  border: 2px solid red;
}

.correct {
  border: 2px solid $color_brown;
  &:hover {
    border: 2px solid $color_pink;
  }
  &:focus {
    border: 2px solid $color_pink_dark;
  }
}

.textError {
  color: $color_pink_dark;
}

.addButton {
  background-color: $color_pink_light;
  color: $color_brown;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $color_green;
  }
}
