$color_purple: rgb(78, 57, 147);
$color_purple_dark: rgb(47, 34, 88);
$color_green: rgb(138, 188, 148);
$color_green_dark: rgb(60, 104, 68);
$color_brown: rgb(51, 38, 29);
$color_pink_light: rgb(255, 235, 245);
$color_pink: rgb(211, 95, 153);
$color_pink_dark: rgb(176, 48, 112);
